/* SOMMAIRE 
    A TYPOGRAPHIE ET COULEURS
    B NAV BAR --------------------80
    C HEADER  -------------------125
    D MAIN ----------------------150
        D1 NO FOCUS -------------150
        D2 FOCUS-----------------266
        D3 FRISE PIED DE PAGE----380
    E MODALES--------------------426
        E1 AJOUT EVENEMENT
        E2 VISUALISATION EVENEMENT
 */

/* A TYPOGRAPHIE ET COULEURS */
/*TYPOGRAPHIES DU SITE COMPLET*/
@font-face{
    font-family: "eczar-bold";
    src: url(../font/Eczar/Eczar-Bold.ttf);
}
@font-face {
    font-family: "eczar-extra-bold";
    src: url(../font/Eczar/Eczar-ExtraBold.ttf);
}
@font-face {
    font-family: "work-light";
    src: url(../font/Work_Sans/WorkSans-Light.ttf);
}
@font-face{
   font-family: "work-regular";
   src: url(../font/Work_Sans/WorkSans-Regular.ttf);
}
@font-face {
    font-family: "work-medium";
    src: url(../font/Work_Sans/WorkSans-Medium.ttf);
}
@font-face {
    font-family: "work-semibold";
    src: url(../font/Work_Sans/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: "advent-regular";
    src: url(../font/Advent_Pro/AdventPro-Regular.ttf);
}
@font-face {
    font-family: "advent-semibold";
    src: url(../font/Advent_Pro/AdventPro-SemiBold.ttf);
}


/*VARIABLES COULEURS*/
:root{

/*COULEURS*/
    --green: #849994;
    --brown: #9E9286;
    --pink:#D4C1BA;
    --ecru:#F4F3EF;
    --khaki:#C0BDA1;
    --grey-blue:#A1B7C0;
    --turquoise:#5EEAC8;
    --rouge:#E14E4E;
    --orange:#FF7C4B;
    --black:#363636;
    --yellow:#FFF278;
    --blue:#8CDDFF;
}

/* FOND FRISE PRINCIPALE*/
body{
    background-color: var(--ecru);
    height: 100vh;
    margin:0;
}

/*HAUTEUR DES SECTIONS - LE TOTAL DES HAUTEURS DOIT ÊTRE EGAL A 100VH SANS OUBLIER LA HAUTEUR DE LA NAVBAR AU DESSUS */


/* C HEADER */
.modal-header {
    width: 98vw;
    height:20vh;
}
.header-left{
    width:90vw;
    height: 20vh;
    padding:0rem;
    margin:-2rem;
    background-color: var(--blue);
}
.header-left h5{
    font-family: "eczar-bold";
    font-size: 3rem;
}
.header-title{
    margin-left: 2.8rem;
}
.header-right{
    width:10vw;
}
.header-right a{
    text-decoration: none;
    font-family: "work-regular";
    font-size: 1.5rem;
    color: var(--black)
}
/* Code pour barre séparation entre Aide et icone fermer
.icone-fermer{
    border-left: var(--black);
    border-style: solid var(--black);
    border-width: 0.5rem;
}*/

/* FIN HEADER */

/*DEBUT CONTENU POPUP*/
.bloc-inputs{
    width: 40vw;
    margin-left: 1.5rem;
}

.dropdown-toggle{
    background-color: white;
    color:var(--black);
    font-family: "work-regular";
    font-size: 1.5rem;
    border-radius: 40px;
    border-style: none;
    margin-top: 2rem;
    width: 35vw;
    height:6vh;
    text-align: left;
}
.btn-secondary:hover{
    color:var(--orange);
    background-color: white;
    border-color: white;
}
.dropdown{
    width: 35vw;
}
.dropdown-menu{
    background-color: white;
    border-radius: 40px;
    border-style: none;
}
.dropdown ul li img {
    width:8vw;
    height:8vh;
    padding:1rem;
    color: var(--orange);
}

/*AUTRES INPUTS*/
#date-area {
    border-radius: 40px;
    width: 20vw;
    height:6vh;
    border-style: none;
    margin-top: 5rem;
}
#title-area {
    border-radius: 40px;
    width: 35vw;
    height:6vh;
    font-family: "work-regular";
    font-size: 1,5em;
    color: #36363650;
    border-style: none;
    margin-top: 2rem;
}
#legend-area {
    border-radius: 40px;
    width: 35vw;
    height:6vh;
    font-family: "work-regular";
    font-size: 1,5em;
    color: #36363650;
    border-style: none;
    margin-top: 2rem;
}
/*PLACEHOLDER DES INPUTS TXT*/
input::placeholder{
    color: black;
    font-family: "work-regular";
    font-size: 1.5rem;
}

/*PARTIE JAUGE*/
.bloc-gauge{
    width:60vw;
    margin-top: 2rem;
    background-color: white;
    border-radius: 40px;
}
/*PARTIE JAUGE TEXTE*/
.txt-gauge {
    width:50vw;
    border-radius: 40px;
    font-family: "work-regular";
    font-size: 1.5rem;
    margin-top: 1.4rem;
}
.orange-txt{
    color: var(--orange);
}
/*PARTIE JAUGE BLOC EMOTIONS*/
.bloc-emotion{
    width:50vw;
    height: 18vh;
    background-color: var(--ecru);
    border-radius: 40px;
}
.card-emotion{
    width: 40vw;
}
.bloc-emotion img{
    width:7.5vw;
    height:7.5vh;
    padding-bottom: 1rem;
}
.bloc-emotion img p{
    font-family: "work-regular";
    font-size: 1.5rem;
}
.bloc-emotion a{
    text-decoration: none;
    color:var(--black);
}
.border-card{
    border-bottom: 0.1rem solid;
}

/*PARTIE TEXTE DESCRIPTIF*/
#text-area-event {
    border-radius: 40px;
    width:97vw;
    height: 332px;
    font-family: "work-regular";
    font-size: 1.5em;
    color: #36363650;
    border-style: none;
    margin-top: 2%;
    margin-left: 1.5rem;
}


/*PARTIE ADD MEDIA*/
.bloc-add-media{
    width:80vw;
    margin-top:3rem;
    margin-bottom: 3rem;
}
.card-media {
    width: 20vw;
    height: 20vh;
    background-color: #A1B7C0;
    border-radius: 25px;
    margin: 0rem 2rem 0rem 2rem;
}
.card-media a{
    text-decoration: none;
}
.card-body {
    background-color: #9E9286;
    height:8vh;
    border-radius: 25px 25px 0px 0px;
}
.card-text{
    font-family: "work-regular";
    font-size: 1.5rem;
    text-align: center;
    color:var(--black);
}
.icone-card-media{
    margin-top: 2rem;
}


/*BLOC SCROLL MEDIAS CHARGES*/
.bloc-scroll2 {
    width:98vw;
    height:35vh;
    margin-left: 1.5rem;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
    transform-origin:left;
}
.card-img img{
    width:18vw;
    height:30vh;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 40px;
}


/* TOGGLE PUBLIC */
.public-toggle{
    font-family: "work-regular";
    font-size: 1.5rem;
    color:var(--black);
    margin-top: 5rem;
    margin-left: 1.5rem;
}
/*frame du toggle entier*/
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
/*frame du fond du toggle*/
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 58px;
	background: var(--grey-blue);
	display: block;
	border-radius: 100px;
	position: relative;
}
/*position du pointeur dans le toggle*/
label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 5px;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--green);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}


/*PARTIE BOUTONS APERCU ET PUBLIER*/
.bloc-cta{
    margin: 4rem 0rem 4rem 0rem;
}
.btn-hover-full-outline{
    font-family: "work-regular";
    font-size: 1.5rem;
    background-color: white ;
    border-style: solid var(--black);
    color: var(--black);
    width: 20vw;
    height:8vh;
    margin-right:2rem;
}

.btn-cta-full{
    font-family: "work-regular";
    font-size: 1.5rem;
    background-color: var(--black);
    border-style: solid var(--black);
    color: white;
    width: 20vw;
    height:8vh;
}