{% extends 'base.html.twig' %}
{% block title %}Genialogie{% endblock %}
    {% block stylesheets %} 
        <link rel="stylesheet" href="assets/css/style-landingOK.css">
    {% endblock  %}

{% block body %}

  <div class="container-fluid d-flex flex-row flex-nowrap align-items-center">
    <!-- Bloc diaporama -->
    <article class="container bloc-diapo">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{asset('assets/images/slider-souvenirs-crop-ombre.jpg')}}" class="d-block w-100 imgdiapo" alt="moments inoubliables">
            <div class="carousel-caption d-none d-md-block">
              <h5>Souvenirs</h5>
              <p> Un outil original pour partager vos souvenirs, vos émotions avec vos proches et toutes les générations </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{asset('assets/images/slider-partage-crop-ombre.jpg')}}" class="d-block w-100 imgdiapo" alt="partage">
            <div class="carousel-caption d-none d-md-block">
              <h5>Partage</h5>
              <p>En recevant une invitation personnelle, vos proches contribuent eux aussi à l'alimentation de votre frise.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slider-compte-secure-crop-ombre.jpg" class="d-block w-100 imgdiapo" alt="sécurisé">
            <div class="carousel-caption d-none d-md-block totou">
              <h5>Sécurité</h5>
              <p>Votre compte est confidentiel. Vous pouvez contrôler qui peut avoir accès à vos données. </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slider-plateforme-simple-2-crop-ombre.jpg" class="d-block w-100 imgdiapo" alt="simple">
            <div class="carousel-caption d-none d-md-block">
              <h5>Simplicité</h5>
              <p>Une plateforme simple et intuitive pour vous permettre de naviguer sans aucun effort. </p>
            </div>
          </div>
          <div class="carousel-item">
            <img #carousel-img src="assets/images/slider-ludique-crop-ombre.jpg" class="d-block w-100 imgdiapo" alt="ludique">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ludique</h5>
              <p>Crééz une frise ludique composée de vos souvenirs les plus précieux et faites le lien avec les évenements historiques de l'époque.</p>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>

      </div>
    </article>
    <!-- bloc connexion -->
    <article class="bloc-container bloc-connect d-flex flex-column align-items-center">

      <span class="container bloc-title d-flex flex-column flex-wrap align-items-start justify-content-between">
        <img src="assets/icones/logo-orange.svg" alt="logo" class="logo">
        <h1>Bienvenue <br>sur Genialogy</br></h1>

        <h3 class="d-flex flex-row flex-wrap">Racontez l'histoire de votre famille</h3>
      </span>

      <div class="bloc-txt">
        <p>Transformez votre arbre généalogique en une frise chronologique riche et visuelle. Partagez vos souvenirs en
          toute sécurité avec votre famille et les jeunes générations.</p>
        <p>En parallèle de votre histoire familiale, découvrez des faits historiques liés à vos événements familiaux.
        </p>
        <p>Genialogy, c’est une méthode simple et ludique pour connaître les différentes périodes de l’Histoire.</p>
      </div>

      <div class="container bloc-cta d-flex flex-row justify-content-around">
        <a href="{{ path('app_login') }}"><button type="button" class="btn-cta-full-connect">Connexion</button></a>
        <a href="{{ path('app_register') }}"><button type="button" class="btn-cta-full-subscribe">Inscription</button></a>
      </div>
      <div class="container bloc-socials d-flex flex-row justify-content-start">
        <!-- <p>Suivez-nous sur les réseaux sociaux:</p> -->
        <!-- <span class="socials">
          <a href="#"><img src="assets/icones/facebook.svg"></a>
          <a href="#"><img src="assets/icones/instagram.svg"></a>
        </span> -->
      </div>
    </article>
  </div>

  <!-- PARTIE BLOG -->
  {# <article class="blog-section">
    <div class="blog-texte">
      <h2><br>Accédez à nos rubriques</br> <br>conseils et astuces généalogie</br> <br>dans notre blog</br></h2>
      <p> Nous mettons à votre disposition des ressources pour vous aider à créer votre propre frise. Découvrez des informations utiles sur la généalogie. 
      </p>
      <div>
        <button type="button" class="btn-cta-discover">Découvrir</button>
      </div>
    </div>

    <div>
      <img class="blog-photo" src="assets/images/1976-histo.png" alt="blog-photo">
    </div>

  </article> #}

  <section class="bloc-socials">
    <div>
      <h2>Rejoignez l'aventure sur les réseaux sociaux</h2>
    </div>
    <div class="socials">
      <a href="#"><img class="icon-rs-fb" src="assets/icones/facebook.svg"></a>
      <a href="#"><img class="icon-rs-insta" src="assets/icones/instagram.svg"></a>
    </div>
  </section>



  <!-- Lien javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>






{% endblock body %}


