{% extends 'base.html.twig' %}

{% block title %}Edit PersonalEven{% endblock %}

{% block body %}
    <h1>Edit PersonalEven</h1>
    {{ include('personal_even/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Home') }}">back to list</a>
			{% for user in  app.user.roles %}
				{% if user == "ROLE_ADMIN" %}
					<a href="{{ path('app_personal_even_edit', {'id': personal_even.id}) }}">Editer</a>
					{{ include('personal_even/_delete_form.html.twig') }}
				{% endif %}
			{% endfor %}
{% endblock %}
