{% extends 'base.html.twig' %}

{% block title %}New HistoryEven{% endblock %}

{% block body %}
    <h1>Create new HistoryEven</h1>

    {{ include('history_even/_form.html.twig') }}

    <a href="{{ path('Home') }}">back to list</a>
{% endblock %}
