/*TYPOGRAPHIES DU SITE COMPLET*/
@font-face{
    font-family: "eczar-bold";
    src: url(../font/Eczar/Eczar-Bold.ttf);
}
@font-face {
    font-family: "eczar-extra-bold";
    src: url(../font/Eczar/Eczar-ExtraBold.ttf);
}
@font-face {
    font-family: "work-light";
    src: url(../font/Work_Sans/WorkSans-Light.ttf);
}
@font-face{
   font-family: "work-regular";
   src: url(../font/Work_Sans/WorkSans-Regular.ttf);
}
@font-face {
    font-family: "work-medium";
    src: url(../font/Work_Sans/WorkSans-Medium.ttf);
}
@font-face {
    font-family: "work-semibold";
    src: url(../font/Work_Sans/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: "advent-regular";
    src: url(../font/Advent_Pro/AdventPro-Regular.ttf);
}
@font-face {
    font-family: "advent-semibold";
    src: url(../font/Advent_Pro/AdventPro-SemiBold.ttf);
}


/*VARIABLES TYPOGRAPHIES*/
:root{
   
/*COULEURS*/
    --green: #849994;
    --brown: #9E9286;
    --pink:#D4C1BA;
    --ecru:#F4F3EF;
    --khaki:#C0BDA1;
    --grey-blue:#A1B7C0;
    --turquoise:#5EEAC8;
    --rouge:#E14E4E;
    --orange:#FF7C4B;
    --black:#363636;
    --yellow:#FFF278;
    --blue:#8CDDFF;
}

/* FOND FRISE PRINCIPALE*/
/*#full-screen{
    width:100%;
    height:100%;
    background-color: black;
    position: absolute;
}*/

body{
   background-image: url(../images/background\ desktop\ 1920x1140px.png);
    background-color: var(--ecru);
    background-position: center;
    height: 100vh;
    margin:0;
    position: relative;
}
#cardlinkmix{
    text-decoration: none!important;
    color: inherit;
}
/* NavBar */

.navbar{
    width: 100vw;
    height: 9vh;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    background-color: var(--ecru);
    padding: 0rem, 0rem, 0.8rem, 0rem;
}
.navbar-menu{
    border-bottom: 1px solid rgba(36, 36, 36, 0.577);
}
.navbar-menu ul li{
    list-style: none;
}
.navbar-menu ul li a{
    color: var(--black);
    text-decoration: none;
}
/* Fin NavBar */

/*HAUTEUR DES SECTIONS - LE TOTAL DES HAUTEURS DOIT ÊTRE EGAL A 100VH SANS OUBLIER LA HAUTEUR DE LA NAVBAR AU DESSUS */
header{
    height: 14vh;
}
main{
    height: 70vh;
}
footer{
    height:0vh;
}

/*CONFIGURATION HEADER*/
.texte-welcome p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}
header h1{
    font-family: 'Eczar', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 3em;
}
.btn-outline-lg-ajout{
    border-radius: 5px;
    background-color: white;
    padding:0.4rem;

    display: flex;
    align-items: center;
}

/* CHEVRON DE LA FRISE */
.chevron-left {
    position: absolute;
    top: 55vh;
    left: 1vw;
}

.chevron-right {
    position: absolute;
    top: 55vh;
    left: 97vw;
}

/*BLOC SCROLL FRISE PRINCIPALE*/
.bloc-scroll{
    height: 68vh;
    width: 100vw;
/* FONCTIONS SCROLL*/
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
    transform-origin:left;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*CARD NO FOCUS = EVENT HISTO + EVENT PERSO SMALL
CI-DESSOUS TOUS LES ELEMENTS COMMUNS AUX EVENTS NO FOCUS*/
.card-event-nofocus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16.6vw;
    height: 50vh;
    margin-top: -6vh;
}
.ligne-dots{
    margin: -1vh;
}

/*TITRE DANS ETIQUETTE*/
.title {
    display: inline-block;
    transform: rotate(2deg);
    font-size: 1vh;
    font-family: 'Work Sans', sans-serif;
}

/*EVENT HISTO NO FOCUS*/
.historic-event{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.img-histo{
    margin-bottom: -2rem;
}
.historic-event .tag{
    display: inline-block;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3.17053px;
    text-align: center;
    width: 18vh;
    height:4vh;
    font-family: "work-medium";
    font-size: 1.25em;

    background-color: white;
    padding: 0.5em;
    margin: 1em;
    transform: rotate(-2deg);     
}

/* BLOC DATE ENTRE LES 2 EVENTS NO FOCUS
DATE DASH = POINTS HAUT ET BAS DES DATES NO FOCUS*/
.date {
    vertical-align: top;
    align-items: center;
}
.date .century {
    vertical-align: top;
    display: inline-block;
    font-family: "advent-regular";
    font-size: 1.3rem;
    color: white;
    text-align: center;
}
.date .decade{
    vertical-align: top;
    font-size: 3rem;
    display: inline-block;
    font-family: "advent-semibold";
    color: white;
    text-align: center;
}

/*EVENT PERSO NO FOCUS*/
.personal-event {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 236px;
    margin-top: -4vh;
}
.personal-event .tag{
    background-color: white;
    padding: 0.5em;
    margin: 1em;

    position: relative;
    top: 30px; left: 0px;

    transform: rotate(-2deg);
    display: flex;

    display: inline-block;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3.17053px;
    text-align: center;
    width: 18vh;
    height:4vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}
.personal-picture{
    background-color: var(--brown);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8.01688px;
}

/*CARD FOCUS = EVENT HISTO + EVENT PERSO LARGE*/
.card-event-focus{
    width: 30vw;
    height:68vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tag-focus{
    display: inline-block;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3.17053px;
    background-color: white;
    width: 22vh;
    height: 4em;
}
.title-focus {
    display: inline-block;
    transform: rotate(2deg);
    font-size: 1.3vh;
    margin-top: 0.5vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

/*EVENT HISTO FOCUS*/
.historic-event-focus{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.img-histo-focus{
    height:25vh;
    width:15vw;

}
.historic-event-focus .tag-focus{
    background-color: white;
    padding: 0.5em;
    margin: -3.5em;
    transform: rotate(-2deg);
}

/*BLOC DATE FOCUS - PASTILLE ORANGE*/
.date-focus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    width: 12vh;
    height: 12vh;

    background-color: var(--orange);
    border-style: solid;
    border-radius: 10vh;
    border-width: 1vh;
    border-color: blanchedalmond;
    box-shadow: 0px 0px 19.2907px 6.43023px rgba(0, 0, 0, 0.25);
}
.century-focus{
    font-family: "advent-regular";
    font-size: 1.8rem;
    color: white;
}
.decade-focus{
    font-family: "advent-semibold";
    font-size: 3.5rem;
    color: white;
}

/*EVENT PERSO FOCUS*/
.personal-event-focus{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    height: 235px;
}
.personal-event-focus .tag-focus{
    background-color:white;
    height:4.2em;
    padding: 0.5em;

    position: relative;
    top: 8px; left: 0px;

    transform: rotate(-2deg);
    display: flex;
}
.personal-picture-focus{
    background-color: var(--brown);
    height:20vh;
    width:15vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8.01688px;
}
.img-perso-focus{
    margin-top: -5vh;
}

/*EVENEMENTS NON VISIBLES SUR L'ECRAN*/
.visibilite-event{
    display: none;
    visibility: hidden;
}

/*FRISE DECENNIE PIED DE PAGE*/
.timeline-dot {
    height: 7vh;
}

.year-scroll{
    width: 100%;
    /*height: 70%;  probleme avec la valeur que j'ai malencontreusement remplacées*/
/*FONCTION SCROLL FRISE*/
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
    transform-origin: left;

    display: flex;
    justify-content: flex-start;
}

.btn-year{
    width: 50px;
    height:46px;
    padding:6px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    background-color:var(--green);
    border-color: white;
    font-family: "advent-regular";
    font-size: 26px;
    color: white;
}
.year-small{
    width:17px;
    height:17px;
    border-radius: 50px;
    background-color:white;
    font-family: "advent-regular";
    font-size: 11px;
    color: black;
    margin-top: 5px;
}
.year-big{
    margin-top: -8px;
}

/*.card-event-nofocus{
    visibility: hidden;
}*/